<form id="notepad">

	<input type="text" placeholder="list name" name="list_title"><br />

	<!-- items inserted here -->

	<button type="button" id="add_item">add item</button><br /><br />

	<textarea placeholder="enter notes here..." name="list_notes"></textarea><br />
	
	<input type="email" placeholder="email" name="email_addr">
	<input type="submit" value="email list">

</form>